<?xml version="1.0"?>
<ruleset name="FaviconManager">
    <description>Coding standard for silverstripe-favicon-manager</description>

    <file>src</file>
    <file>tests</file>

    <arg name="colors"/>
    <arg value="p"/>

    <rule ref="PSR12"/>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>
</ruleset>
